<style>
#page-selector {
  text-align:center;
}

.wrappers {
  margin-top:20px;
  text-align:center;
}

.wrappers > div {
  display: inline-block;
  background-color:rgba(200, 175, 150, 0.75);
  padding:200px;
  border-radius:100%;
  transition:all 1s;
}
.editable, .editable:active {
  outline: none !important;
}

.editable {
  border: 1px solid grey;
  padding:2px 5px;
}

.editable:active, .editable:focus {
  background-color: white;
}

</style>
<nav id="sub-nav" class="navbar navbar-default">
  <ul class="nav navbar-nav">
    <li><a href="/home">Home</a></li>
  <% if not fb? %>
    <li><a href = "/profile">Update Profile</a></li>
  <% end %>
  <% if admin? %>
    <li class="active"><a  href="">Admin Page</a></li>
  <% end %>
  </ul>
</nav>
<br>
<div class="page-header">
<h1>Admin Page</h1>
</div>
<div id="page-selector">
  <button data-div="#userList-wrapper" type="button" class="btn btn-primary btn-lg">Users</button>
  <button data-div="#imageList-wrapper" type="button" class="btn btn-default btn-lg">Images</button>
</div>
<script>
  $(function(){
    $('#page-selector button').click(function(){
      $('#page-selector button').removeClass('btn-primary');
      $(this).addClass('btn-primary');
      $('.wrappers').fadeOut(500);
      $( $(this).data('div') ).delay(500).fadeIn(500);
    });
    if (window.location.hash == "#images") {
      $('#userList-wrapper').hide();
      $('#imageList-wrapper').show();
      var a = $('.btn-primary');
      var b = $('.btn-default');
      a.removeClass('btn-primary').addClass('btn-default');
      b.removeClass('btn-default').addClass('btn-primary');
    }
  });
</script>

<div id="userList-wrapper" class="wrappers">
 <div id="userList">
  <table class="table table-hover">
   <thead>
    <tr>
      <th> Select </th>
      <th> Name </th>
      <th> Email </th>
      <th> Username </th>
    </tr>
   </thead>
   <tbody>
    <% @user_all.each do |t| %>
      <tr>
        <td> <input type="radio" name="user" class="user-radio" data-username="<%= t.username %>" > </td>
        <td><div data-name="name"><%= t.name %></div></td>
        <td><div data-name="email"><%= t.email %></div></td>
        <td><div data-name="username"><%= t.username %></div></td>
      </tr> 
    <% end %>
   </tbody>
  </table>
  
  <form id="users-update-form" action="/users/admin_user_update" method="get">
  <input type="hidden" name="original-username">
  <input type="hidden" name="name">
  <input type="hidden" name="email">
  <input type="hidden" name="username">
  <input type="password" name="password" id="password" placeholder="Enter New Password" disabled>
  </form>

  <button id="add">Add User</button>
  <button id="edit">Edit</button>
  <button type="submit" form="users-update-form" id="submit" disabled="disabled">Submit</button>
  <button id="cancel" disabled="disabled">Cancel</button>
  <button id="delete" type="submit" form="users-delete-form"> Delete User</button>
  
  <form id="users-delete-form" method="get" action="/users/admin_user_delete">
  <input type="hidden" name="username" id="user-to-delete">
  </form>
  
  <form id="add-form" method="get" action="/users/admin_user_create" style="display:none;">
    <input type="email" placeholder="Email" name="email">
    <input type="text" placeholder="Username" name="username">
    <input type="text" placeholder="Name" name="name">
    <input type="password" placeholder="Password" name="password">
    <input type="submit">
  </form>
</div>
</div>
<script>
  var current = new Array();
  $(function(){
    
    $('#userList #edit').click(function(){
      var r = $('#userList .user-radio:checked');
      if (r.length == 0) {
        alert('None selected');
      }
      else {
        $('#userList button:disabled').removeAttr('disabled');
        $(this).attr('disabled','');
        var ctd = r.parent();
        var i = 0;
        while (i < 3) {
          current[i++] = ctd.next().find('div').attr('contentEditable','true').addClass('editable').html();
          ctd = ctd.next();
        }
        $('#userList .user-radio').attr('disabled','');
        $('#userList #password').removeAttr('disabled');
      }
    });
    
    $('#userList #cancel').click(function(){
      $('#userList .user-radio').removeAttr('disabled');
      $('#userList #edit').removeAttr('disabled');
      $('#userList #cancel').attr('disabled','');
      $('#userList #submit').attr('disabled','');
      $('#userList .editable').each(function(){
        $(this).html(current.shift()).removeAttr('contentEditable').removeClass('editable');
      });
    });
    
    $('#userList #users-update-form').on('submit',function(){
      $('#userList .editable').each(function(){
        var v = $(this).data('name');
        $('#userList input[name='+v+']').val($(this).text());
      });
      $('#userList input[name=original-username]').val($('#userList input[type=radio]:checked').data('username'));
    });
    
    $('#userList #users-delete-form').on('submit', function(){
      var r = $('#userList .user-radio:checked');
      if (r.length == 0) {
        alert('None selected');
        return false;
      }
      else {
        $('#userList #user-to-delete').val( $('#userList input[type=radio]:checked').data('username') );
      }
    });
    
    $('#userList #add').click(function(){
      $('#userList #add-form').show(1000);
    });
    
  });
</script>


<!---------------------------------------------------------------------------->
<div id="imageList-wrapper"  class="wrappers" style="display:none">
<div id="imageList">
  <table class="table table-hover">
    <thead>
    <tr>
      <th>Select</th>
      <th> Name </th>
      <th> Photo </th>
      <th> Tags </th>
    </tr>
      </thead>
    <tbody>
    <% @image_all.each do |t| %>
      <tr>
        <td><input type="radio" name="image" class="image-radio" 
                   data-tags="<%= t.tags %>"
                   data-filename="<%= t.name %>"></td>
        <td> <div data-name="name"><%= t.name %></div> </td>
        <td> <%= image_tag(t.name, :alt => "Error", height: '90', width: '90') %> </td>
        <td> <div data-name="tags"><%= t.tags %></div></td>
      </tr>
    <% end %>
  </tbody>
  </table>
  
  <button id="add-image">Add Image</button>
  <button id="edit-image">Edit</button>
  <button type="submit" form="image-update-form" disabled="disabled">Submit</button>
  <button id="cancel-image" disabled="disabled">Cancel</button>
  <button id="delete-image" type="submit" form="images-delete-form"> Delete Image</button>
  
  
  <div id="images-add-image-form-wrapper" style="display:none;">
    <%= form_tag({action: :upload}, multipart: true, id: 'add-image-form') do %>
      <%= file_field_tag 'picture' %>
      <%= text_field_tag 'tags' %>
    <%= submit_tag "Upload" %>
    <% end %>
  </div>
  
  <form id="images-delete-form" method="get" action="/users/admin_image_delete" style="display:none;">
  <input type="hidden" name="original-name" id="filename-for-delete">
  <input type="hidden" name="original-tags" id="tags-for-delete">
  </form>
  
  <form id="image-update-form" action="/users/admin_image_update" method="get">
  <input type="hidden" name="original-name" id="filename-for-update">
  <input type="hidden" name="original-tags" id="tags-for-update">
  <input type="hidden" name="name" id="newname-for-update">
  <input type="hidden" name="tags" id="newtags-for-update">
  </form>
</div>
</div>
<script>
  $(function(){
    $('#imageList input[type=radio]').change(function(){
      $('tr.warning').removeClass('warning');
      $(this).closest('tr').addClass('warning');
    });
    $('#imageList input[name=tags]').attr('placeholder','Tags for Images');
    $('#imageList input').attr('required', 'required');
    $('#imageList input[type=file]').attr('accept','image/*');
    
    $('#imageList #add-image').click(function(){ $( '#images-add-image-form-wrapper' ).show(500) });
    
    $('#add-image-form').on('submit',function(){
      var $tags = $('#add-image-form input[name=tags]');
      var tagsArray = $tags.val().split(',');
      var spaces = false;
      for(var i=0; i<tagsArray.length; i++) {
        tagsArray[i] = tagsArray[i].trim();
        if (tagsArray[i].indexOf(' ') != -1) {
          spaces = true;
        }
      }
      if (spaces) {
        alert('Tags should not contain spaces. It should be one word');
        return false;
      }
      alert("Are you sure you wants tags "+$tags.val(tagsArray.join()).val()+"?");
    });
    
    $('#images-delete-form').on('submit',function(){
      var r = $('#imageList .image-radio:checked');
      if (r.length == 0) {
        alert('None selected');
        return false;
      }
      else {
        $(this).find('#filename-for-delete').val(r.data('filename'))
        $(this).find('#tags-for-delete').val(r.data('tags'))
      }
    });
    
    var oldImageData = new Array();
    $('#imageList #edit-image').click(function(){
      var r = $('#imageList .image-radio:checked');
      if (r.length == 0) {
        alert('None selected');
      }
      else {
        $('#imageList button:disabled').removeAttr('disabled');
        $(this).attr('disabled','');
        var ctd = r.closest('td');
        var i = 0;
        while (i < 2) {
          var d = ctd.next().find('div');
          if (d.length) {
            oldImageData[i++] = d.attr('contentEditable','true').addClass('editable').html();
          }
          ctd = ctd.next();
        }
        $('#imageList .image-radio').attr('disabled','');
      }
    });
    
    $('#imageList #image-update-form').on('submit',function(){
      $('#imageList .editable').each(function(){
        var v = $(this).data('name');
        $('#imageList #image-update-form input[name='+v+']').val($(this).text());
      });
      $('#imageList input[name=original-name]')
      .val($('#imageList input[type=radio]:checked').data('filename'));
      $('#imageList input[name=original-tags]')
      .val($('#imageList input[type=radio]:checked').data('tags'));
    });
    $('#cancel-image').click(function(){
      $('#imageList .image-radio').removeAttr('disabled');
      $('#imageList #edit').removeAttr('disabled');
      $('#userList #cancel').attr('disabled','');
      $('#userList #submit').attr('disabled','');
      $('#userList .editable').each(function(){
        $(this).html(current.shift()).removeAttr('contentEditable').removeClass('editable');
      });
    });
  });
</script>