<nav id="sub-nav" class="navbar navbar-default">
  <ul class="nav navbar-nav">
    <li><a href="/home">Home</a></li>
  <% if not fb? %>
    <li class="active"><a href="/profile">Update Profile</a></li>
  <% end %>
  <% if admin? %>
    <li><a  href = "/users/admin_page">Admin Page</a></li>
  <% end %>
  </ul>
</nav>
<br>
<h1>Edit Profile</h1>

<%= form_for @user do |f| %>
<% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <p>
    <%= f.label :email %>
    <%= f.email_field :email, :input_html => { :value => @user.email } %>
  </p>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name, :input_html => { :value => @user.name } %>
  </p>
  <p>
    <%= f.label :username %>
    <%= f.text_field :username, :input_html => { :value => @user.username } %>
  </p>
  <p>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </p>
  <p class="button"><%= f.submit %></p>
<a href="/delete">Delete Profile</a>
<% end %>